# model : AEON Z-Stick GEN5
# description : Usb Zwave Stick R adaptator link to /dev/zwave
DRIVERS=="usb", ATTRS{idVendor}=="0658", ATTRS{idProduct}=="0200", SYMLINK+="zwave", MODE="0666"

