{% block content %}
<h3></h3>
<div class="contenaire-fluid">
       <table id="tabnodes_{{ network_active }}" class="display cell-border" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Node</th>
                              <th>Name</th>
                              <th>Location</th>
                              <th>Model</th>
                              <th>Awake</th>
                              <th>Type</th>
                              <th>LastUpdate</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                        <tbody>
                        {% for node in nodes_state %}
                            <tr>
                                <td id="node-{{ node.NodeID }}">
                                    {{ node.NetworkID }}.{{ node.NodeID }}
                                </td>
                                <td>{{ node.Name }}</td>
                                <td>{{ node.Location }}</td>
                                <td>{{ node.Model }}</td>
                                <td>{{ node["State sleeping"] }}</td>
                                <td>{{ node.Type }}</td>
                                <td>{{ node["Last update"] }}</td>
                                <td>Actions...</td>
                            </tr> 
                        {% endfor %}
                        </tbody>
                    </table>
</div>

<script type='text/javascript'>

    $(document).ready(function(){
        $.fn.bootstrapSwitch.defaults.size = 'mini'; //override the default options of the bootstrap-switch library
        nodesData = {{ nodes_state|tojson }}
        $("[id^='tabnodes_']").DataTable({
        "paging":   true,
        "ordering": true,
        "order": [[ 0, "asc" ]],
        "lengthMenu": [[20, 35, 50, -1], [20, 35, 50, "All"]],
        "info": true,
        "columnDefs": [{
            "targets": 0,
            "render": function (data, type, full, meta) {return renderNodeStatusCol(data, type, full, meta);}
            },{
            "targets": 1,
            "width": "15%",
            "render": function (data, type, full, meta) {return renderNodeNameCol(data, type, full, meta);}
            },{
            "targets": 2,
            "width": "15%",
            "render": function (data, type, full, meta) {return renderNodeLocationCol(data, type, full, meta);}
            },{
            "targets": 4,
            "render": function (data, type, full, meta) {return renderNodeAwakeCol(data, type, full, meta);}
            },{
            "targets": 5,
            "render": function (data, type, full, meta) {return renderNodeTypeCol(data, type, full, meta);}
            },{
            "targets": 7,
            "render": function (data, type, full, meta) {return renderNodeActionColl(data, type, full, meta);}
            }
          ],
        "drawCallback": function(settings) {
            var api = this.api();
            var data = api.rows({page:'current'}).data()
            $( "input[type='text'][datatype='node']").not("[isHandled]" ).each(function(rowN, nData) {
                try {
                    var cell = api.cell(rowN, 0);
                    var obj = this
                    EnableInputText(this, function(e) {
                        var value = obj.value;
                        var refId =  obj.id.split("_");
                        var NetworkID = refId[1];
                        var NodeID = refId[2];
                        var name = obj.name;
                        sendRequest("ozwave.node.set", {"networkId": NetworkID, "nodeId": NodeID, "key": name, "value": value}, function(data, result) {
                             if (result == "error" || data.result == "error") {
                                    new PNotify({
                                        type: 'error',
                                        title: 'Set ' + name + ' fail.',
                                        text: data.content.error,
                                        delay: 6000
                                    });
                                } else {
                                    new PNotify({
                                            type: 'success',
                                            title: 'Set ' + name + ' ok.',
                                            text: 'node ' + data.content.NodeID + ' named : ' + data.content.Name + ', location : ' + data.content.Location,
                                            delay: 4000
                                    });
                                };
                            });
                        // send update to ws
                        //return {"result":"succes", "value":value, "msg": "bad format"};
                    });
                }
                catch (err) {
                    console.log(err);
                };
            });
            $(".btn[type='nodeaction']").not("[isHandled]" ).each(function(rowN, nData) {
                try {
                    var cell = api.cell(rowN, 0);
                    EnableButtonAction(this, function(obj) {
                        var value = obj.value;
                        var refId =  obj.id.split("_");
                        var NetworkID = refId[1];
                        var NodeID = refId[2];
                        var action = "";
                        var nodeData = GetZWNode(refId[1], refId[2]);
                        switch (refId[0]) {
                            case "monitornode" :
                                if (!nodeData.Monitored) {
                                    action ='StartMonitorNode';
                                } else { 
                                    action ='StopMonitorNode';
                                };
                                sendRequest("ozwave.node.action", {"action": action, "networkId": NetworkID, "nodeId": NodeID}, function(data, result) {
                                     if (result == "error" || data.result == "error") {
                                            new PNotify({
                                                type: 'error',
                                                title: 'Monitoring node',
                                                text: data.content.error,
                                                delay: 6000
                                            });
                                        } else {
                                            var nodeData = GetZWNode(data.content.NetworkID, data.content.NodeID);
                                            if (data.content.state == "started") { nodeData.Monitored = data.content.file;
                                            } else { nodeData.Monitored = ""; };
                                            RefreshDataNode(nodeData);
                                            updateBtMonitored(nodeData);
                                            new PNotify({
                                                type: 'success',
                                                title: 'Monitoring node',
                                                text: data.content.usermsg + "/n" + data.content.file,
                                                delay: 4000
                                            });
                                        };
                                    });
                                break;
                            case "refreshnode" :
                                var bdiag = bootbox.dialog({
                                    show: false,
                                    size: 'small',
                                    className: 'text-center',
                                    title: 'Send Refresh request to node <b>'+ NetworkID+ '.' + NodeID + '<b>',
                                    message: '<div class="row">  ' +
                                                   "<div class='col-md-12'> " +
                                                        "<div class='dropdown'> "+
                                                            '<button class="btn btn-default dropdown-toggle" type="button" id="typerefresh" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">' +
                                                                'Select type of refresh request' +
                                                                '<span class="caret"></span>' +
                                                            ' </button>' +
                                                            '<ul class="dropdown-menu" aria-labelledby="typerefresh">' +
                                                                '<li><a id="RefreshNodeInfo" type="refresh" href="#"><i class="fa fa-info"></i> Node informations</a></li>' +
                                                                '<li><a id="RefreshNodeState" type="refresh" href="#"><i class="fa fa-check"></i> State node</a></li>' +
                                                                '<li><a id="RefreshNodeDynamic" type="refresh" href="#"><i class="fa fa-spinner fa-spin"></i> Dynamics data</a></li>' +
                                                                '<li><a id="HealNode" type="refresh" href="#"><i class="fa fa-road"></i> Heal node with reroute</a></li>' +
                                                            '</ul' +
                                                        '</div> ' +
                                                    "</div>"+
                                                "</div>",
                                    data: nodeData,
                                    buttons: [{
                                        id: 'btn-cancel',   
                                        label: 'Cancel',
                                        className: 'btn-danger', 
                                        autospin: false,
                                        callback: function(dialogRef){    
                                            console.log("Cancel refresh Node : " + NetworkID+ "." + NodeID);
                                        }
                                    }]
                                });
                                bdiag.on("shown.bs.modal", function() {
                                    $("[type='refresh']").click(function() {
                                        console.log("start request") + this.id
                                        sendRequest("ozwave.node.action", {"action": this.id, "networkId": NetworkID, "nodeId": NodeID}, function(data, result) {
                                            console.log("ws send done");
                                            if (result == "error" || data.result == "error") {
                                                new PNotify({
                                                    type: 'error',
                                                    title: 'Refresh node',
                                                    text: data.content.error,
                                                    delay: 6000
                                                });
                                            } else {
                                                var nodeData = GetZWNode(data.content.NetworkID, data.content.NodeID);
                                                new PNotify({
                                                    type: 'success',
                                                    title: 'Refresh node sended',
                                                    text: data.content.usermsg,
                                                    delay: 4000
                                                });
                                            };
                                        });
                                        bdiag.modal('hide');
                                    });
                                });
                                bdiag.modal('show');
                                break;
                            case "detailnode" :
                                var tr = $(obj).closest('tr');
                                var row = api.row(tr);
                                var nodeRefId = GetNodeRefId(NetworkID, NodeID);
                                if ($('#valuesNode'+nodeRefId).length != 0) {
                                    row.child.remove();
                                    $('#detailnodeic'+nodeRefId).removeClass('fa-search-minus fa-spinner fa-spin').addClass('fa-search-plus');
                                } else {
                                    $('#detailnodeic'+nodeRefId).removeClass('fa-search-minus fa-search-plus').addClass('fa-spinner fa-spin');
                                    sendRequest("ozwave.node.get", {"key": "values", "networkId": NetworkID, "nodeId": NodeID}, function(data, result) {
                                        var nodeRefId = GetNodeRefId(data.content.NetworkID, data.content.NodeID);
                                        if (result == "error" || data.result == "error") {
                                            if ($('#valuesNode'+nodeRefId).length != 0) {
                                                $('#detailnodeic'+nodeRefId).removeClass('fa-search-plus fa-spinner fa-spin').addClass('fa-search-minus');
                                            } else {
                                                $('#detailnodeic'+nodeRefId).removeClass('fa-search-minus fa-spinner fa-spin').addClass('fa-search-plus');
                                            }
                                            new PNotify({
                                                type: 'error',
                                                title: 'Get list of command class value fail.',
                                                text: data.content.error,
                                                delay: 6000
                                            });
                                        } else {
                                            RefreshValuesNodeData(data.content.NetworkID, data.content.NodeID, data.content.Values);
                                            row.child(initValuesTab(nodeRefId)).show();
                                            buildValuesTab(data.content);
                                            $('#valuesNode'+nodeRefId +' thead tr').addClass("headcmdclss");
                                            $('#detailnodeic'+nodeRefId).removeClass('fa-search-plus fa-spinner fa-spin').addClass('fa-search-minus');
                                        };
                                    });
                                };
                                break;
                            case "updassoc" :
                                var bdiag = bootbox.dialog({
                                    show: false,
                               //     size: 'small',
                                    className: 'text-center',
                                    title: 'Edit associations groups.' + "<br> " + nodeData.Model + " " + NetworkID + '.' + NodeID,
                                    message:  "<div class='contenaire-fluid'>" +
                                                    "<div id='contgrpass'>" +
                                                    "</div>" +
                                                "</div>",
                                    data: nodeData,
                                    buttons: [{
                                        id: 'btn-cancel',   
                                        label: 'Quit',
                                        className: 'btn-danger', 
                                        autospin: false,
                                        callback: function(dialogRef){    
                                            console.log("Exit edit association.");
                                        }
                                    },{
                                        id: 'btn-sendchange',   
                                        label: 'Send modification',
                                        className: 'btn-primary',
                                        autospin: false,
                                        callback: function(dialogRef){
                                            var grps =[];
                                            var newgrps = bdiag.getnewgroups();
                                            for (var i=0; i<newgrps.length; i++){
                                                grps.push({'idx': newgrps[i].index, 'mbs': newgrps[i].members});
                                            };
                                            console.log("Send association modification : " + JSON.stringify(grps));
                                            document.body.style.cursor = "wait";
                                            $('#btn-cancel').addClass('disabled');
                                            sendRequest("ozwave.node.set", {"key": "groups", "networkId": NetworkID, "nodeId": NodeID, 'ngrps': JSON.stringify(grps)}, function(data, result) {
                                                var nodeRefId = GetNodeRefId(data.content.NetworkID, data.content.NodeID);
                                                document.body.style.cursor = "default";
                                                $('#btn-cancel').removeClass('disabled');
                                                if (result == "error" || data.result == "error") {
                                                    new PNotify({
                                                        type: 'error',
                                                        title: 'Set group association fail.',
                                                        text: data.content.error,
                                                        delay: 6000
                                                    });
                                                } else {
                                                    nodeData = RefreshGroupsNodeData(nodeData.NetworkID, nodeData.NodeID, data.content.groups);
                                                    RefreshGroups(bdiag.stageGrps, data.content.groups);
                                                    new PNotify({
                                                        type: 'success',
                                                        title: 'Set group association',
                                                        text: 'Association modification are sended.',
                                                        delay: 4000
                                                    });
                                                };
                                            });
                                            return false;
                                        }
                                    }]
                                });
                                bdiag.stageGrps = createKineticsGrpAssoc('contgrpass', nodeData);
                                bdiag.getnewgroups = function () {
                                    var newgrps =  GetNewGroups(this.stageGrps, nodeData);
                                    return newgrps;
                                };
                                bdiag.modal('show');
                                break;
                        };
                        // send update to ws
                        return {"result":"success", "value":value, "msg": "bad format"};
                    });
                }
                catch (err) {
                    console.log(err);
                };
            });
            $( "input[type='checkbox'][id^='batcheck']").not("[isHandled]" ).each(function(rowN, nData) {
                $(this).attr("isHandled", true);
                $(this).on('change', function (e) {
                    var refId = this.id.split('_');
                    var state = $(this).is(':checked');
                    sendRequest("ozwave.node.action", {"action": "batterycheck", "networkId": refId[1], "nodeId": refId[2], "state": state}, function(data, result) {
                        var nodeRefId = GetNodeRefId(data.content.NetworkID, data.content.NodeID);
                        var nodeData = GetZWNode(data.content.NetworkID, data.content.NodeID);
                        if (result == "error" || data.result == "error") {
                            new PNotify({
                                type: 'error',
                                title: 'Set battery checking at wakeup fail.',
                                text: data.content.error,
                                delay: 6000
                            });
                        } else {
                            nodeData.BatteryChecked = data.content.state;
                            RefreshDataNode(nodeData);
                            var table = $("#tabnodes_" + data.content.NetworkID).DataTable();
                            var cell = GetNodeCell(table, data.content.NodeID, 0);
                            HighlightCell(cell.node());
                        };
                        if (nodeData.BatteryChecked) {$('#batcheck'+nodeRefId).attr("title","Battery level is requested at each awake.").prop('checked', true);
                        } else { $('#batcheck'+nodeRefId).attr("title","Check to request battery level at each awake.").prop('checked', false);};
                    });
                });
            });
          }
        });
    });

</script>

 {% endblock %}
