{% block content %}
<h3></h3>
<div class="contenaire-fluid">
       <table id="tabnodes_{{ network_active }}" class="display cell-border" cellspacing="0" width="100%">
                          <thead>
                            <tr>
                              <th>Node</th>
                              <th>Name</th>
                              <th>Location</th>
                              <th>Model</th>
                              <th>Awake</th>
                              <th>Type</th>
                              <th>LastUpdate</th>
                              <th>Actions</th>
                            </tr>
                          </thead>
                        <tbody>
                        {% for node in nodes_state %}
                            <tr>
                                <td id="node-{{ node.NodeID }}">
                                    {{ node.NetworkID }}.{{ node.NodeID }}
                                </td>
                                <td>{{ node.Name }}</td>
                                <td>{{ node.Location }}</td>
                                <td>{{ node.Model }}</td>
                                <td>{{ node["State sleeping"] }}</td>
                                <td>{{ node.Type }}</td>
                                <td>{{ node["Last update"] }}</td>
                                <td>Actions...</td>
                            </tr> 
                        {% endfor %}
                        </tbody>
                    </table>
</div>

<script type='text/javascript'>

    $(document).ready(function(){
        nodesData = {{ nodes_state|tojson }}
        $("[id^='tabnodes_']").DataTable({
        "paging":   true,
        "ordering": true,
        "order": [[ 0, "asc" ]],
        "lengthMenu": [[20, 35, 50, -1], [20, 35, 50, "All"]],
        "info": true,
        "columnDefs": [{
            "targets": 0,
            "render": function (data, type, full, meta) {return renderNodeStatusCol(data, type, full, meta);}
            },{
            "targets": 1,
            "width": "15%",
            "render": function (data, type, full, meta) {return renderNodeNameCol(data, type, full, meta);}
            },{
            "targets": 2,
            "width": "15%",
            "render": function (data, type, full, meta) {return renderNodeLocationCol(data, type, full, meta);}
            },{
            "targets": 4,
            "render": function (data, type, full, meta) {return renderNodeAwakeCol(data, type, full, meta);}
            },{
            "targets": 5,
            "render": function (data, type, full, meta) {return renderNodeTypeCol(data, type, full, meta);}
            }
          ]
        });
    });

</script>

 {% endblock %}
