{% block content %}

<!-- ozwave lib -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwlib.js"></script>
    <link rel="stylesheet" type="text/css" href="/plugin_ozwave/static/css/ozwlib.css">

<!-- Sidebar CSS -->
    <link rel="stylesheet" type="text/css" href="/plugin_ozwave/static/css/bootstrap-sidebar.css">

<!-- Bootbox -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/bootbox.min.js"></script>

<!-- Bootstrap switch -->
    <link rel="stylesheet" type="text/css" href="/plugin_ozwave/static/libraries/css/bootstrap-switch.min.css">
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/bootstrap-switch.min.js"></script>

<div class="container">
    <div class="list-group">
        <h4>
           <a class="list-group-item bg-info" href="#" onclick="toggleVisible('detailOZWconfig', 'toggle-OZWconfig');return false;">
               <span class="glyphicon glyphicon-chevron-down pull-left" id="toggle-OZWconfig" aria-hidden="true" data-target="detailOZWconfig"></span>&nbsp;&nbsp;
               <span id="ozw-status" class="label status-{{ openzwaveInfo.status }}">Openzwave</span>
               <span id="manager-status" class="label status-{{ managerState.status }}">{% trans %}Manager{% endtrans %}</span>&nbsp;&nbsp;
               <small id="manager-init">{{ managerState.init }}</small>
               <div class="pull-right"><small id="ozw-version">{{ openzwaveInfo.PYOZWLibVers }}</small></div>
            </a>
        </h4>
        <div class="panel panel-default center-block" id="detailOZWconfig" style="width: 95%; display: none;" hidden>
            <div class="row" style="margin:10px" >
                <button class="btn btn-default center-block" id="refrechdevList" data-toggle="tooltip" data-placement="bottom" title="{% trans %}If you modify (create/remove/edit) domogik device, click to refresh plugin data.{% endtrans %}">
                    <i class="fa fa-refresh" id="refrechdevList-ic"></i>
                    <span id="runctrl-text"> {% trans %}Refresh domogik device list{% endtrans %}</span>
                </button>
            </div>
            <li><b>{% trans %}Openzwave path{% endtrans %} : </b><span id="ozw-config">{{ openzwaveInfo.ConfigPath }}</span></li>
            <li><b>{% trans %}User path{% endtrans %} : </b><span id="ozw-user">{{ openzwaveInfo.UserPath }}</span></li>
            <div class="container-fluid">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>{% trans %}Option{% endtrans %}</th>
                            <th>{% trans %}Value{% endtrans %}</th>
                            <th>{% trans %}Information{% endtrans %}</th>
                      </tr>
                    </thead>
                    <tbody id="ozw-options">
                    {% for option in openzwaveInfo['Options'] %}
                        {% if option not in ["UserPath", "ConfigPath"] %}
                        <tr>
                            <td><b>{{option }}</b></td>
                            <td>{{ openzwaveInfo['Options'][option]['value'] }}</td>
                            <td>{{ openzwaveInfo['Options'][option]['doc'] }}</td>
                        </tr>
                        {% endif %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <h4>
    <nav id="ozwave2-navbar" class="nav navbar-tab" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#client-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>
    {% if not network_active %}
        {% if managerState.Controllers|length > 0 %}
            {% set network_active = managerState.Controllers[0].NetworkID %}
        {% endif %}
    {% endif %}
    <div class="tabbable">
        <ul  id="ozwave-navbar" class="nav nav-tabs ">
        {% for network in managerState.Controllers %}
            <li {% if network_active == network.NetworkID %}class="active"{% endif %}>
                <a data-toggle="tab" href="#{{ network.NetworkID }}" onclick="selectActiveNetwork('{{ network.NetworkID }}');return true;">
                <h4 style="margin-top: 0px; margin-bottom: 0px;">
                    <span id="ctrl-tab_{{ network.NetworkID }}" class="label status-{{ network.state }}" data-toggle="tooltip" data-placement="bottom" title="{{ network.init }}">
                        {{ network.NetworkID }} - {{ network.HomeID }}
                    </span>
                    <span id="saveconf_{{ network.NetworkID }}" class="btn btn-xs btn-info pull-right{% if network.HomeID == 'None' %} hide{% endif %}" data-toggle="tooltip" data-placement="bottom" title="Save openzwave network config">
                        <span id="icsaveconf_{{ network.NetworkID }}" class="glyphicon glyphicon-floppy-saved"></span>
                    </span>
               </h4>
                </a>
            </li>
        {% endfor %}
            <li id="debug-tab" {% if network_active == "" %}class="active"{% endif %}>
                <a data-toggle="tab" href="#debug-pane" onclick="sidebarVisible('network-menu', false);return true;">Debug tools</a>
            </li>
            <li id="tools-tab" {% if network_active == "tools" %}class="active"{% endif %}>
                <a data-toggle="tab" href="#tools-pane" onclick="sidebarVisible('network-menu', false);window.location.href='/plugin_ozwave/{{ clientid }}/tools';return true;">ozw tools</a>
            </li>
        </ul>
    </div>
    </nav>
</div>
<nav class="navbar navbar-default sidebar" role="navigation" id="network-menu">
    <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-sidebar-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        </div>
        <div class="collapse navbar-collapse" id="bs-sidebar-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li{% if networkmenu_active == "controller" %} class="active" {% endif %}>
                <a href="/plugin_ozwave/{{ clientid }}/{{ network_active }}/controller" id="ctrl-href">{% trans %}Controller{% endtrans %}
                    <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-server"></span>
                </a>
            </li>
            <li{% if networkmenu_active == "nodes" %} class="active" {% endif %}>
                <a href="/plugin_ozwave/{{ clientid }}/{{ network_active }}/nodes" id="nodes-href">{% trans %}Nodes{% endtrans %}
                    <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-cubes"></span>
                </a>
            </li>
            <li{% if networkmenu_active == "network" %} class="active" {% endif %}>
                <a href="/plugin_ozwave/{{ clientid }}/{{ network_active }}/network" id="network-href">{% trans %}Network{% endtrans %}
                    <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-link"></span>
                </a>
            </li>
            <li{% if networkmenu_active == "ctrltools" %} class="active" {% endif %}>
                <a href="/plugin_ozwave/{{ clientid }}/{{ network_active }}/ctrltools" id="ctrltools-href">{% trans %}Tools{% endtrans %}
                    <span style="font-size:16px;" class="pull-right hidden-xs showopacity fa fa-cogs"></span>
                </a>
            </li>
          </ul>
        </div>
  </div>
</nav>
<div class="container">
    <div class="tab-content">
    {% for network in managerState.Controllers %}
        <div class="tab-pane{% if network_active == network.NetworkID %} active{% endif %}" id="{{ network.NetworkID }}">
        <!-- Page is insered after -->
        </div>
    {% endfor %}
        <div class="tab-pane" id="debug-pane">
            <h3>Raw data page selection :</h3>
                <li><b>{% trans %}network_active{% endtrans %} : </b><span id="debug-networkactive">{{ network_active }}</span></li>
                <li><b>{% trans %}networkmenu_active{% endtrans %} : </b><span id="debug-networkmenuactive">{{ networkmenu_active }}</span></li>
            <h3>Raw data Openzwave :</h3>
                <li><b>{% trans %}openzwaveInfo{% endtrans %} : </b></li>
                <pre id="debug-ozw">{{ openzwaveInfo }}</pre>
            <h3>Raw data Manager :</h3>
                <li><b>{% trans %}managerState{% endtrans %} : </b></li>
                <pre id="debug-manager">{{ managerState }}</pre>
            <h3>Raw data Controller :</h3>
                <li><b>{% trans %}zw_network{% endtrans %} : </b></li>
                <pre id="debug-ctrl">{{ network_state }}</pre>
            <h3>Raw data Nodes :</h3>
                <li><b>{% trans %}nodes_state{% endtrans %} : </b></li>
                <pre id="debug-nodes">{{ nodes_state }}</pre>
            <h3>Raw data ozwave plugin client detail :</h3>
                <li><b>{% trans %}client_detail{% endtrans %} : </b></li>
                <pre id="debug-client">{{ client_detail }}</pre>
        </div>
        <div class="tab-pane{% if network_active == 'tools' %} active{% endif %}" id="tools-pane">
        <!-- Page is insered after -->
        </div>
    </div>
</div>

<script type="text/javascript">

        var activeNetwork = "{{ network_active }}";
        clientID = "{{ clientid }}";
        ozwInfo = {{ openzwaveInfo|tojson }}

        /* Action which shows and hides div with a id */
        $("[id^='toggle-OZWconfig']").click(function() {
          var target_selector = $(this).attr('data-target');
          toggleVisible(target_selector, this.id);
          return false;
        });

        function toggleVisible(target_selector, icon_selector) {
          var $target = $("[id^='"+target_selector+"']" );
          if ($target.is(':hidden')) {
            $target.show("fast" );
            $('#'+icon_selector).removeClass('glyphicon-chevron-down').addClass('glyphicon-chevron-up');
          } else {
            $target.hide( "fast" );
            $('#'+icon_selector).removeClass('glyphicon-chevron-up').addClass('glyphicon-chevron-down');
          };
        };

        function sidebarVisible(target_selector, state) {
          var $target = $("[id^='"+target_selector+"']" );
          if (state) {
            $target.show("fast" );
          } else {
            $target.hide( "fast" );
          };
        };

        function selectActiveNetwork(NetworkID) {
            sidebarVisible('network-menu', true);
            activeNetwork = NetworkID;
            $("#debug-networkactive").text(NetworkID);
            $("#ctrl-href").attr('href',"/plugin_ozwave/{{ clientid }}/" + NetworkID + "/controller");
            $("#nodes-href").attr('href',"/plugin_ozwave/{{ clientid }}/" + NetworkID + "/nodes");
            $("#network-href").attr('href',"/plugin_ozwave/{{ clientid }}/" + NetworkID + "/network");
            $("#ctrltools-href").attr('href',"/plugin_ozwave/{{ clientid }}/" + NetworkID + "/ctrltools");
        };

        $("[id^='saveconf_']").click(function() {
            var NetworkID = this.id.split("_")[1];
            $("#icsaveconf_" + NetworkID).removeClass("glyphicon-floppy-save glyphicon-floppy-saved").addClass("glyphicon-hourglass");
            sendRequest("ozwave.ctrl.saveconf", { "networkId": NetworkID }, function(data, result) {
                if (data.content.result == "error") {
                    new PNotify({
                        type: 'error',
                        title: 'Fail to save config file',
                        text: data.content.error,
                        delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Config file saved',
                        text: data.content.msg,
                        delay: 4000
                    });
                };
                updateBtSavedConf(data.content.NetworkID, data.content.saved);
            });
        });
        $("#refrechdevList").click(function() {
            var NetworkID = this.id.split("_")[1];
            $("#refrechdevList-ic").removeClass().addClass("fa fa-refresh fa-spin");
            sendRequest("ozwave.manager.refreshdeviceslist", {}, function(data, result) {
                if (result == "error" || data.content.error != "") {
                    $("#refrechdevList-ic").removeClass().addClass("fa fa-refresh");
                    new PNotify({
                        type: 'error',
                        title: 'Fail to refresh domogik device list',
                        text: data.content.error,
                        delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Refresh domogik device list',
                        text: 'Refresh sended, waiting response...',
                        delay: 4000
                    });
                };
            });
        });

    $( document ).ready(function() {
        var ws_onmessage_menu = ws.onmessage;
        if (activeNetwork == "" || activeNetwork == "tools") {sidebarVisible('network-menu', false);};
        $('[data-toggle="tooltip"]').tooltip({
                    html:true
                });
        ws.onmessage = function(e) {
            ws_onmessage_menu(e);
            var data = JSON.parse(e.data);
            if (data.msgid == "plugin.status") {
                if ( data.content['host'] == 'vmdomogik0' && 'plugin-ozwave' == data.content['type'] + '-'+ data.content['name'] ) {
                    if (data.content['event'] == "starting" || data.content['event'] == "stopped" || data.content['event'] == "fail") {
                        if ($('#client-status .status').text() != "starting") {
                            $("#ozw-status").removeClass().addClass("label status-stopped");
                            $("#manager-status").removeClass().addClass("label status-stopped");
                            $("#manager-init").text("Stopped");
                            $("[id^='ctrl-tab_']").removeClass().addClass("label status-stopped");
                            if (data.content['event'] == "starting"){$("[id^='ctrl-tab_']").text('To discover');};
                        } else {
                            $("#ozw-status").removeClass().addClass("label status-starting");
                            $("#manager-status").removeClass().addClass("label status-stopped");
                            $("#manager-init").text("Starting");
                            $("[id^='ctrl-tab_']").removeClass().addClass("label status-stopped");
                        };
                    };
                };
            };
            var msgId = data.msgid.split(".");
            if (msgId[0] == "ozwave") {
                console.log("Zwave menu publish receive :)", data);
                if (msgId[1] == "ctrl") {
                    switch (msgId[2]) {
                        case "state" :
                            if ((data.content.type == 'change') || (data.content.type == 'status')) {
                                $("#ctrl-tab_"+data.content.NetworkID).removeClass().addClass("label status-" + data.content.status).attr("title",data.content.init);
                                $("#ctrl-tab_"+data.content.NetworkID).text(data.content.NetworkID + " - " + data.content.HomeID);
                                if (data.content.HomeID != null) {
                                    updateBtSavedConf(data.content.NetworkID, data.content.saved);
                                };
                                <!-- debug infos -->
                                $("#debug-ctrl").text(JSON.stringify(data.content));
                            };
                            break;
                        case "saveconf":
                            if (data.content.result == "error") {
                                new PNotify({
                                    type: 'error',
                                    title: 'Fail to save config file',
                                    text: data.content.error,
                                    delay: 6000
                                });
                            } else {
                                new PNotify({
                                    type: 'success',
                                    title: 'Config file saved',
                                    text: data.content.msg,
                                    delay: 4000
                                });
                            };
                            updateBtSavedConf(data.content.NetworkID, data.content.saved);
                            break;
                        case "saveconfchange":
                            updateBtSavedConf(data.content.NetworkID, data.content.saved);
                            if ( !data.content.saved ) {
                                new PNotify({
                                    type: 'info',
                                    title: 'ZWave network '+ data.content.NetworkID +' config change',
                                    text: 'Save config file to keep your change.',
                                    delay: 6000
                                });
                            };
                            break;                    };
                };
                if (msgId[1] == "lib") {
                    if (msgId[2] == "state") {
                        $("#ozw-status").removeClass().addClass("label status-" + data.content.status);
                        $("#ozw-version").text(data.content.PYOZWLibVers);
                        $("#ozw-config").text(data.content.ConfigPath);
                        $("#ozw-user").text(data.content.UserPath);
                        var options = '';
                        for (option in data.content.Options) {
                            if ((option != "UserPath") && (option != "ConfigPath")) {;
                                options = options + '<tr> <td><b>' + option +'</b></td> <td>' + data.content.Options[option]['value'] + '</td> <td>' +  data.content.Options[option]['doc'] + '</td> </tr>'
                            };
                        };
                        $("#ozw-options").html(options);
                        <!-- debug infos -->
                        $("#debug-ozw").text(JSON.stringify(data.content));
                    };
                };
                if (msgId[1] == "manager") {
                    if (msgId[2] == "state") {
                        $("#manager-status").removeClass().addClass("label status-" + data.content.status);
                        $("#manager-init").text(data.content.init);
                        var tabNew = "";
                        var saveSt = "";
                        var saveIc = "";
                       for (item in data.content.Controllers) {
                            if (data.content.Controllers[item].saved) {saveSt = "btn-info"; saveIc = "glyphicon-floppy-saved";
                            } else {saveSt = "btn-warning"; saveIc = "glyphicon-floppy-save";};
                            if ($("#ctrl-tab_" + data.content.Controllers[item].NetworkID).length == 0) {
                                 tabNew = "<li> <a data-toggle='tab' href='#" + data.content.Controllers[item].NetworkID +"' onclick=" +
                                        "'selectActiveNetwork(" + '"' + data.content.Controllers[item].NetworkID + '"' + ");return true;'" +
                                        "'> <h4 style='margin-top: 0px; margin-bottom: 0px;'> <span id='ctrl-tab_" + data.content.Controllers[item].NetworkID +
                                        "' class='label status-" + data.content.Controllers[item].state + "' title='" + data.content.Controllers[item].init + "'>" +
                                        data.content.Controllers[item].NetworkID + " - " + data.content.Controllers[item].HomeID + "</span>"+
                                        "<span id='saveconf_" + data.content.Controllers[item].NetworkID+"' class='btn btn-xs pull-right " + saveSt
                                 if (data.content.Controllers[item].HomeID == null) {tabNew += " hide" };
                                   tabNew += "' title='Save openzwave network config'>" +
                                        "<span id='icsaveconf_" + data.content.Controllers[item].NetworkID+"' class='glyphicon "+ saveIc +"'></span> </span>" +
                                        "</h4> </a> </li>";
                                 $(tabNew).insertBefore("#debug-tab");
                                 tabNew = "<div class='tab-pane' id='" + data.content.Controllers[item].NetworkID + "'></div>";
                                 $(tabNew).insertBefore("#debug-pane");
                                 $('#ozwave-navbar a[href="#'+data.content.Controllers[item].NetworkID+'"]').tab('show');
                                 selectActiveNetwork(data.content.Controllers[item].NetworkID);
                            };
                        };
                        <!-- debug infos -->
                        $("#debug-manager").text(JSON.stringify(data.content));
                    } else if (msgId[2] == "refreshdeviceslist"){
                        if (data.content.error == '') {
                            $("#refrechdevList-ic").removeClass().addClass("fa fa-refresh");
                            new PNotify({
                                type: 'success',
                                title: 'Refresh domogik device list',
                                text: 'Refresh done.',
                                delay: 4000
                            });
                        } else {
                            $("#refrechdevList-ic").removeClass().addClass("fa fa-exclamation-triangle");
                            new PNotify({
                                type: 'error',
                                title: 'Refresh domogik device list',
                                text: 'Refresh failed : ' + data.content.error,
                                delay: 4000
                            });
                        };
                    };
                };
            };
        };
    });
</script>

{% endblock %}
