{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}
{% include "plugin_ozwave_menu.html" %}

<!-- ozwave lib -->
<script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwctrlactions.js"></script>

<div class="container" id="test-move">
{% include "controller.html" %}
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        var container = document.getElementById("{{ network_active }}");
        $('#test-move').appendTo("#{{ network_active }}");
        var ws_onmessage_ctrl = ws.onmessage;
        $("#dosecurity").bootstrapSwitch();
        renderActionOption("");
        sendRequest("ozwave.ctrl.getlistcmdsctrl", {"networkId": "{{ network_active }}"}, function(data, result) {
            if (result == "error" || data.result == "error") {
                new PNotify({
                    type: 'error',
                    title: 'Zwave controller {{ network_active }} error',
                    text: data.content.error,
                    delay: 6000
                });
            } else {
                AvaillableCtrlActions = data.content.ctrlactions;
                for (action in AvaillableCtrlActions) {
                    $('#ctrlactions').append("<option value='"+ action +"'>" + action + "</option>");
                };
            };
        });
        sendRequest("ozwave.ctrl.nodes",{"networkId": "{{ network_active }}"}, function(data, result) {
            if (result == "error" || data.result == "error") {
                new PNotify({
                    type: 'error',
                    title: 'Controller  {{ network_active }}, list nodes fail.'  ,
                    text: data.content.error,
                    delay: 6000
                });
            } else {
                nodesData = data.content.nodes;
            };
        });
        var action = {'action': 'getState'}
        action['action'] =='getState';
        sendRequest("ozwave.ctrl.action",{"networkId": "{{ network_active }}", "action": JSON.stringify(action)}, function(data, result) {
            if (result == "error") {
                new PNotify({
                    type: 'error',
                    title: 'Controller  {{ network_active }}, get action state. fail.'  ,
                    text: data.content.error + " " + data.content.usermsg,
                    delay: 6000
                });
            } else {
                renderStateAction(data.content.command, data.content.state, data.content.usermsg);
            };
        });
        ws.onmessage = function(e) {
            ws_onmessage_ctrl(e);
            data = JSON.parse(e.data);
            msgId = data.msgid.split(".");
            if (msgId[0] == "ozwave" && msgId[1] == "ctrl" && data.content.NetworkID == "{{ network_active }}") {
                console.log("Zwave controller receive :)", data.msgid);
                console.log(data.content);
                switch (msgId[2]) {
                    case "state" :
                        if ((data.content.type == 'change') || (data.content.type == 'status')) {
                            $("#ctrl-status").removeClass().addClass("label status-" + data.content.status);
                            $("#ctrl-status").text(data.content.init);
                            if (data.content.status == 'alive' || data.content.status =='starting') {
                                var icon = 'stop';
                                var text = ' Stop controller';
                                var color = 'red';
                            } else {
                                var icon = 'play';
                                var text = ' Start controller';
                                var color = 'green';
                            }
                            $("#runctrl-text").text(text);
                            $("#runctrl-ic").attr('style', "color:"+ color ).removeClass().addClass("fa fa-"+icon);
                        };
                        break;
                    case "command" :
                        renderStateAction(data.content.command, data.content.state, data.content.error + data.content.usermsg);
                        break;
                    case "report" :
                        if (data.content.type == 'node-state-changed') {
                            if (data.content.data.state == "sleep") {
                                renderBadgeCount("count_sleep", data.content["Node sleeping"]);
                                $("#statistic_sleep").text(data.content["Node sleeping"]);
                            };
                            if (data.content.data.state == "fail") {
                                renderBadgeCount("count_fail", data.content["Node fail"]);
                                $("#statistic_fail").text(data.content["Node fail"]);
                            };
                            if (data.content["Node count"] != undefined) {$('#count_node').text(data.content["Node count"]);};
                        };
                        break;
                    case "opening":
                        $("#ctrl-status").removeClass().addClass("label status-starting");
                        $("#ctrl-status").text("Opening driver");
                        $("#runctrl-text").text(" Stop controller");
                        $("#runctrl-ic").attr('style', "color: red").removeClass().addClass("fa fa-stop");
                        break;
                    case "closed":
                        $("#ctrl-status").removeClass().addClass("label status-stopped");
                        $("#ctrl-status").text("Driver stopped");
                        $("#runctrl-text").text(" Start controller");
                        $("#runctrl-ic").attr('style', "color: green").removeClass().addClass("fa fa-play");
                        break;
                };
            };
        };
        $('#ctrlactions').change(function(e) {
            $('#actiondoc').text(AvaillableCtrlActions[this.value]);
            renderActionOption(this.value);
        });
        $('#btctrlaction').click(function() {
            var act = 'stop';
            if ($('#btctrlaction-ic').hasClass('fa-play')) {act = 'start'};
            $('#btctrlaction').addClass('disabled'); // Disables visually + functionally
            var action = {'command': $('#ctrlactions').val(),
                            'action': act,
                            'nodeid': parseInt($('#listnodesOpt').val()),
                            'dosecurity': $('#dosecurity').bootstrapSwitch('state'),
                            'arg': $('#numberOpt').val(),
                            };

            sendRequest("ozwave.ctrl.action", {"networkId": "{{ network_active }}", "action": JSON.stringify(action)}, function(data, result) {
                $('#btctrlaction').removeClass('disabled');
                if (data.content.message != '' && data.content.message != undefined) {
                    $('#actionmessage').text(data.content.message);
                    $('#actionmessage').show();
                } else {
                    $('#actionmessage').text('');
                    $('#actionmessage').hide();
                };

                if (result == "error" || data.result == "error") {
                    new PNotify({
                        type: 'error',
                        title: 'Controller  {{ network_active }} , action fail'  ,
                        text: data.content.error + "\n" + data.content.message,
                        delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: 'Controller  {{ network_active }} action',
                        text: 'Request ' + data.content.action + ' ' + data.content.command + ' sended. \n' + data.content.message,
                        delay: 4000
                    });
                };
            });
        });
        $('#forcestopaction').change(function() {
            if ($('#forcestopaction :input').is(':checked')) {
                $('#btctrlaction-ic').removeClass().addClass("fa fa-stop").attr("style", "color:red");
                $('#btctrlaction-text').text(" Stop action");
                $('.actdisable').attr('disabled', true);
            } else {
                var state = $.trim($('#actionstatus').text());
                if (state == 'Ready') { state = 'Normal';};
                renderStateAction($('#lastaction').text(), state,$('#actionresult').text());
            };
        });
        $('#runctrl').click(function() {
            var act = 'stop';
            if ($('#runctrl-ic').hasClass('fa-play')) {act = 'start'};
            $('#runctr').addClass('disabled'); // Disables visually + functionally
            sendRequest("ozwave.ctrl." + act, {"networkId": "{{ network_active }}"}, function(data, result) {
                $('#runctr').removeClass('disabled');
                if (result == "error" || data.result == "error") {
                    new PNotify({
                        type: 'error',
                        title: 'fail ' + act + ' controller  {{ network_active }} command',
                        text: data.content.error,
                        delay: 6000
                    });
                } else {
                    new PNotify({
                        type: 'success',
                        title: act + ' controller  {{ network_active }} command',
                        text: 'Command '+ act + ' sended.',
                        delay: 4000
                    });
                };
            });

        });
        $('#softreset').click(function() {
            bootbox.confirm('<h3 class="text-center alert-info">Soft Reset of PC ZWave Controller</h3> ' +
                              '<h4 class="text-center">{{ network_active }} - {{ network_state.HomeID }}</h4>' +
                              '<p class="text-center alert-info">Resets a controller without erasing its network configuration settings.</p>' +
                              '<h4 class="text-center">Please confirm the Soft Reset</h4>',
                function(result) {
                    if (result) {
                        $('#softreset').addClass('disabled'); // Disables visually + functionally
                        sendRequest("ozwave.ctrl.softreset", {"networkId": "{{ network_active }}"}, function(data, result) {
                            $('#softreset').removeClass('disabled');
                            if (result == "error" || data.result == "error") {
                                new PNotify({
                                    type: 'error',
                                    title: 'Fail soft reset controller  {{ network_active }} command',
                                    text: data.content.error,
                                    delay: 6000
                                });
                            } else {
                                new PNotify({
                                    type: 'success',
                                    title: 'Soft reset controller  {{ network_active }} command',
                                    text: 'Command '+ act + ' sended.',
                                    delay: 4000
                                });
                            };
                        });
                    };
                });
        });
        $('#hardreset').click(function() {
            bootbox.confirm({
                message : '<h3 class="text-center alert-info">Hard Reset of PC ZWave Controller</h3> ' +
                              '<h4 class="text-center">{{ network_active }} - {{ network_state.HomeID }}</h4>' +
                              '<p class="text-center alert-danger">Resets a controller and erases its network configuration settings. The controller becomes a primary controller ready to add devices to a new network.</p>' +
                              '<h4 class="text-center">Please confirm the Hard Reset</h4>',
                buttons: {
                        'cancel': {
                            label: 'Cancel',
                            className: 'btn-default pull-left'
                        },
                        'confirm': {
                            label: "I'm sure and confirm hard reset",
                            className: 'btn-danger pull-right'
                        }
                    },
                callback: function(result) {
                    if (result) {
                        $('#softreset').addClass('disabled'); // Disables visually + functionally
                        sendRequest("ozwave.ctrl.hardreset", {"networkId": "{{ network_active }}"}, function(data, result) {
                           $('#softreset').removeClass('disabled');
                           $("#ctrl-process-running").removeClass("hide");
                           if (result == "error" || data.result == "error") {
                                new PNotify({
                                    type: 'error',
                                    title: 'Fail hard reset of controller '+data.content.NetworkID,
                                    text: data.content.error,
                                    delay: 6000
                                });
                            } else {
                                new PNotify({
                                    type: 'success',
                                    title: 'Hard reset of controller '+data.content.NetworkID,
                                    text: 'Command to '+ data.content.Driver + ' sended. Wait for driver restart with new home id.',
                                    delay: 4000
                                });
                            };
                        });
                    };
                }
                });
        });
        $('#healnetwork').click(function() {
            bootbox.confirm('<h3 class="text-center alert-info">Heal network of PC ZWave Controller</h3> ' +
                              '<h4 class="text-center">{{ network_active }} - {{ network_state.HomeID }}</h4>' +
                              "<p class='text-center alert-info'>Heal network by requesting node's rediscover their neighbors to every node. Can take a while on larger networks.</p>" +
                              '<h4 class="text-center">Please confirm the heal</h4>' +
                              '<div class="checkbox text-center"> <label><input id="forceroute" type="checkbox" value="">force route option</label></div>',
                function(result) {
                    if (result) {
                        $('#healnetwork').addClass('disabled'); // Disables visually + functionally
                        sendRequest("ozwave.ctrl.healnetwork", {"networkId": "{{ network_active }}", "forceroute": $('#forceroute').is(":checked")}, function(data, result) {
                           $('#healnetwork').removeClass('disabled');
                           if (result == "error" || data.result == "error") {
                                new PNotify({
                                    type: 'error',
                                    title: 'Fail heal network  {{ network_active }} command',
                                    text: data.content.error,
                                    delay: 6000
                                });
                            } else {
                                new PNotify({
                                    type: 'success',
                                    title: 'Heal network {{ network_active }} command',
                                    text: 'Command sended node by node, please wait for each result...',
                                    delay: 4000
                                });
                            };
                        });
                    };
                });
        });
    });
</script>

{% endblock %}
