{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}
{% include "plugin_ozwave_menu.html" %}

<!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/plugin_ozwave/static/libraries/css/jquery.dataTables.min.css">
    
<!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/jquery.dataTables.min.js"></script>

<!-- DataTables -->
<script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/kinetic-v5.1.0.min.js"></script>

<!-- ozwave lib -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwcmdclass.js"></script>
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwkineticsnode.js"></script>

<div class="container" id="test-move">
{% include "nodes.html" %}
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#test-move').appendTo("#{{ network_active }}");
        var ws_onmessage_nodes = ws.onmessage;
        ws.onmessage = function(e) {
            ws_onmessage_nodes(e);
            var data = JSON.parse(e.data);
            var msgId = data.msgid.split(".");
            if (msgId[0] == "ozwave" && msgId[1] == "ctrl") {
                if (msgId[2] == "opening") {
                    if ("{{ network_active }}" == data.content.NetworkID) {
                        var table = $("#tabnodes_{{ network_active }}").DataTable();
                        console.log("Clear nodes table");
                        table.clear().draw();
                        nodesData = [];
                    };
                };
            };
            if (msgId[0] == "ozwave" && msgId[1] == "ctrl") {
                switch (data.content.type) {
                    case 'node-state-changed' :
                        switch (data.content.data.state) {
                            case "sleep" : 
                                var table = $("#tabnodes_" + data.content.NetworkID).DataTable();
                                var cell = GetNodeCell(table, data.content.NodeID, 4);
                                if (cell) {
                                    var nodeData = GetZWNode(data.content.NetworkID, data.content.NodeID);
                                    nodeData['State sleeping'] = data.content.data.value;
                                    nodeData.lastStatus = data.content.data.lastStatus;
                                    RefreshDataNode(nodeData);
                                    cell.data(data.content.data.value).draw();
                                    HighlightCell(cell.node());
                                } else {
                                    if (table) {  // Adding node in dataTable.
                                        requestZWNodeInfos(data.content.NetworkID, data.content.NodeID);
                                    };
                                };
                                break;
                            case "Named" :
                                var table = $("#tabnodes_" + data.content.NetworkID).DataTable();
                                var cell = GetNodeCell(table, data.content.NodeID, 1);
                                if (cell) {
                                    var nodeData = GetZWNode(data.content.NetworkID, data.content.NodeID);
                                    var nameUpD = true;
                                    var locationUpD = true;
                                    var modelUpD = true;
                                    if (nodeData.Name == data.content.data.name || data.content.data.name == "") { nameUpD = false; } else { nodeData.Name = data.content.data.name;};
                                    if (nodeData.Location == data.content.data.location || data.content.data.location == "") { locationUpD = false; } else { nodeData.Location = data.content.data.location;};
                                    if (nodeData.Model == data.content.data.model || data.content.data.model == " -- ") { modelUpD = false; } else { nodeData.Model = data.content.data.model;};
                                    RefreshDataNode(nodeData);
                                    var d = new Date();
                                    var date = d.toLocaleString();
                                    if (nameUpD) { 
                                        cell.data(data.content.data.name).draw();
                                        HighlightCell(cell.node(), date);
                                    };
                                    if (locationUpD) {
                                        cell2 = GetNodeCell(table, data.content.NodeID, 2);
                                        cell2.data(data.content.data.location).draw();
                                        HighlightCell(cell2.node(), date)
                                    };
                                    if (modelUpD) {
                                        cell3 = GetNodeCell(table, data.content.NodeID, 3);
                                        cell3.data(data.content.data.model).draw();
                                        HighlightCell(cell3.node(), date);
                                    };
                                } else {
                                    if (table) {  // Adding node in dataTable.
                                        requestZWNodeInfos(data.content.NetworkID, data.content.NodeID);
                                    };
                                };
                                break;
                        };
                        break;
                    case 'init-process' :
                        console.log("Zwave controller receive :)", data.msgid);
                        console.log(data.content);
                        var table = $("#tabnodes_" + data.content.NetworkID).DataTable();
                        var cell = GetNodeCell(table, data.content.NodeID, 0);
                        if (cell) {
                            var nodeData = GetZWNode(data.content.NetworkID, data.content.NodeID);
                            nodeData.InitState = data.content.data;
                            RefreshDataNode(nodeData);
                            cell.data(data.content.NetworkID+"."+data.content.NodeID).draw();  // set data required to force draw
                            var d = new Date();
                            var date = d.toLocaleString();
                            HighlightCell(cell.node(), date);
                        };
                        requestZWNodeInfos(data.content.NetworkID, data.content.NodeID);
                        break;
                };
            };
        };
    });
</script>

{% endblock %}
