{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}
{% include "plugin_ozwave_menu.html" %}

<!-- Kinetic -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/kinetic-v5.1.0.min.js"></script>
<!-- Jquery contextMenu -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/jquery.contextMenu.min.js"></script>
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/jquery.ui.position.min.js"></script>

    <link rel="stylesheet" type="text/css" href="/plugin_ozwave/static/libraries/css/jquery.contextMenu.min.css">

<!-- ozwave lib -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwkineticsnode.js"></script>

<div class="container" id="test-move">
{% include "network.html" %}
</div>
<script type="text/javascript">
    var dragConstrain = true;
    $("#zoomIn").click(function(e) {
        if (neighborsGraph != undefined) {
            var scale = neighborsGraph.nodeLayer.scale();
            scale.x += 0.1;
            scale.y += 0.1;
            neighborsGraph.linkLayer.scale(scale).batchDraw();
            neighborsGraph.nodeLayer.scale(scale).batchDraw();
        };
    });
    $("#zoomOut").click(function(e) {
        if (neighborsGraph != undefined) {
            var scale = neighborsGraph.nodeLayer.scale();
            scale.x -= 0.1;
            scale.y -= 0.1;
            neighborsGraph.linkLayer.scale(scale).batchDraw();
            neighborsGraph.nodeLayer.scale(scale).batchDraw();
        };
    });
    $("#dragConstrain").change(function(e) {
        dragConstrain = $(this).is(":checked");
    });
    $( document ).ready(function() {
        var container = document.getElementById("{{ network_active }}");
        $('#test-move').appendTo("#{{ network_active }}");
        var ws_onmessage_netw = ws.onmessage;
        sendRequest("ozwave.ctrl.nodes",{"networkId": "{{ network_active }}"}, function(data, result) {
            if (result == "error" || data.result == "error") {
                new PNotify({
                    type: 'error',
                    title: 'Controller  {{ network_active }} , list nodes fail.'  ,
                    text: data.content.error,
                    delay: 6000
                });
            } else {
                nodesData = data.content.nodes;
                neighborsGraph = new KtcNeighborsGraph('containerneighbors');
            };
        });
        ws.onmessage = function(e) {
            ws_onmessage_netw(e);
            data = JSON.parse(e.data);
            msgId = data.msgid.split(".");
            if (msgId[0] == "ozwave" && msgId[1] == "ctrl") {
//                console.log("Zwave network receive :)", data.msgid);
//                console.log(data.content);
                if (data.content.NetworkID == "{{ network_active }}") {
                    switch (msgId[2]) {
                        case "state" :
                            if ((data.content.type == 'change') || (data.content.type == 'status')) {
                                $("#ctrl-status").removeClass().addClass("label status-" + data.content.status);
                                $("#ctrl-status").text(data.content.init);
                            };
                            break;
                        case "report" :
                            HandleDataNodeUpdMsg(data);
                            break;
                    };
                };
            };
        };
    });
</script>

{% endblock %}
