{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}
{% include "plugin_ozwave_menu.html" %}

<!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="/plugin_ozwave/static/libraries/css/jquery.dataTables.min.css">

<!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/jquery.dataTables.min.js"></script>

<!-- Kinetic -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/libraries/js/kinetic-v5.1.0.min.js"></script>

<!-- ozwave lib -->
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwcmdclass.js"></script>
    <script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwkineticsnode.js"></script>

<div class="container" id="test-move">
{% include "nodes.html" %}
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        $('#test-move').appendTo("#{{ network_active }}");
        var ws_onmessage_nodes = ws.onmessage;
        ws.onmessage = function(e) {
            ws_onmessage_nodes(e);
            var data = JSON.parse(e.data);
            var msgId = data.msgid.split(".");
            if (msgId[0] == "ozwave" && msgId[1] == "ctrl") {
                console.log("Zwave controller receive :)", data.msgid);
                console.log(data.content);
                switch (msgId[2]) {
                    case "opening" :
                        if ("{{ network_active }}" == data.content.NetworkID) {
                            var table = $("#tabnodes_{{ network_active }}").DataTable();
                            console.log("Clear nodes table");
                            table.clear().draw();
                            nodesData = [];
                        };
                        break;
                    case "report" :
                        HandleDataNodeUpdMsg(data);
                        break;
                };
            };
        };
    });
</script>

{% endblock %}
