{% extends theme("base/base.html") %}
{% import theme("base/wtf.html") as wtf %}

{% block content %}
{% include theme("client_menu.html") %}
{% include "plugin_ozwave_menu.html" %}

<!-- ozwave lib -->
<script type="text/javascript" charset="utf8" src="/plugin_ozwave/static/js/ozwlib.js"></script>

<div class="container" id="test-move">
{% include "network.html" %}
</div>
<script type="text/javascript">
    $( document ).ready(function() {
        var container = document.getElementById("{{ network_active }}");
        $('#test-move').appendTo("#{{ network_active }}");
        var ws_onmessage_ctrl = ws.onmessage;
        ws.onmessage = function(e) {
            ws_onmessage_ctrl(e);
            data = JSON.parse(e.data);
            msgId = data.msgid.split(".");
            if (msgId[0] == "ozwave" && msgId[1] == "ctrl") {
                console.log("Zwave controller receive :)", data.msgid);
                console.log(data.content);
                if (msgId[2] == "state" && data.content.networkid == "{{ network_active }}") {
                    if ((data.content.type == 'change') || (data.content.type == 'status')) {
                        $("#ctrl-status").removeClass().addClass("label status-" + data.content.status);
                        $("#ctrl-status").text(data.content.init);
                    };
                } else {
                    if (data.content.type == 'node-state-changed') {
                        if (data.content.data.state == "sleep") {
                            renderBadgeCount("count_sleep", data.content["Node sleeping"]);
                            $("#statistic_sleep").text(data.content["Node sleeping"]);
                        };
                        if (data.content.data.state == "fail") {
                            renderBadgeCount("count_fail", data.content["Node fail"]);
                            $("#statistic_fail").text(data.content["Node fail"]);
                        };

                    };
                };
            };
        };
    });
</script>

{% endblock %}
