{% block content %}

<div class='container-fluid'>
    <h3>{% trans %}Zwave tools administration{% endtrans %}
    </h3>
    <div class="row">
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h4>{% trans %}Memory usage{% endtrans %}
                        <div class="input-group pull-right">
                            <button id="refreshMem" type="button" class="btn btn-default">
                                <i class="fa fa-refresh" id="refreshMem-ic" style="color:blue"></i>
                               <span> {% trans %}Refresh{% endtrans %}</span>
                            </button>
                        </div>
                        </h4>
                </div>
                <div class='panel-body'>
                    <div id='memoryDetail'>{% trans %}Presse refresh button to get memory size{% endtrans %}.</div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <a class="bg-info" href="#" onclick="toggleVisible('logCTRL', 'toggle-log');return false;">
                        <h4>
                            <span class="glyphicon glyphicon-chevron-down pull-left" id="toggle-log" aria-hidden="true" data-target="logCTRL"></span>
                            <span>&nbsp;&nbsp;{% trans %}Zwave internal logs{% endtrans %}</span>
                        </h4>
                    </a>
                </div>
                <div class='panel-body' id="logCTRL" hidden>
                    <div class='row'>
                        <div class="col-xs-6 col-md-3">
                            <label for="nbLines">Number of lines to show</label>
                            <input id="nbLines" type="number" class="form-control" value="50">
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="input-group">
                                <button id="logBegin" type="button" class="btn btn-default">
                                    <i class="fa fa-refresh" id="logBegin-ic" style="color:blue"></i>
                                   <span> {% trans %}View from beginning{% endtrans %}</span>
                                </button>
                             </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <div class="input-group">
                                <button id="logEnd" type="button" class="btn btn-default">
                                    <i class="fa fa-refresh" id="logEnd-ic" style="color:blue"></i>
                                   <span> {% trans %}View until end{% endtrans %}</span>
                                </button>
                            </div>
                        </div>
                        <div class="col-xs-6 col-md-3">
                            <select class='form-control' id='logtype' >
                                <option value="getlog">{% trans %}Plugin log{% endtrans %}</option>
                                <option value="getlogozw">{% trans %}Openzwave log{% endtrans %}</option>
                            </select>
                        </div>
                    </div>
                    <div class='row'>
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <div id='logDisplay' style="height:300px;overflow:auto;">{% trans %}Click refresh button{% endtrans %}</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-12'>
            <div class='panel panel-default'>
                <div class='panel-heading'>
                    <h4>{% trans %}Recognized manufacturers and products{% endtrans %}</h4>
                    <li><b>{% trans %}Openzwave path configuration{% endtrans %}:</b> {{ openzwaveInfo.ConfigPath }}</li>
                </div>
                <div class='panel-body'>
                    <div class='col-md-6'>
                        <div id='productsTree' style="height:500px;overflow:auto;">
                        {% for manufacturer in ozw_products.manufacturers %}
                            <ul>
                                <li idtype="manufacturer">{{ manufacturer.manufacturer }} ({{ "{0:#3x}".format(manufacturer.id) }})
                                    {% for product in manufacturer.products %}
                                    <ul>
                                        <li idtype="product" data-jstree='{"icon":"{% if product.config != '' %}icon-success fa fa-file-text{% else %}icon-unknown fa fa-file{% endif %}"}'
                                                title="{% trans %}File{% endtrans %}: {% if product.config != '' %}{{ product.config }}{% else %}{% trans %}No config file{% endtrans %}{% endif %}
Type: {{ '{0:#3x}'.format(product.type) }}
Id(s): {% for id in product.ids %}{{ '{0:#3x}'.format(id) }}{% if id != product.ids[-1] %}, {% endif %}{% endfor %}">{{ product.name }}</li>
                                    </ul>
                                    {% endfor %}
                                </li>
                            </ul>
                        {% endfor %}
                        </div>
                    </div>
                    <div class='col-md-6'>
                        <h4 id='productRefDetail' class="alert alert-info" >{% trans %}Select a product with xml file{% endtrans %}</h4>
                        <div id='productDetail' style="height:500px;overflow:auto;">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

 {% endblock %}
